{% extends "layout.html" %}

{% set active_page = "/home" %}

{% block title %}Home 1{% endblock %}

{% block content %}  
    <!--page content-->
	<div class="container">
	<p><a href="/pg1">go to page 1</a></p>
	<

	</div>
    <h5>Question 1</h5>
	
	<p> How many planets are in the our solar system?</p>
	<!--<form action="/pg1">
  <label for="an1">Answer:</label>
  <input type="text" id="an1" name="an1" required>
  <input type="submit">
</form> -->
	
	<!-- <div id="content">
	<div class="center">
		<div class="container"> 
		<h2>Welcome to the Astronomy Quiz!</h2>
		<br>
		<br>
		<div class="a">
		<a href="/home" target="/home">Start</a> </div>
		
      
    
		</div>
	</div>
</div>-->
{% endblock %}


